<%- include('partials/head') %>





<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to Readways</h1>
    <p class="lead">Discover, Read, Enjoy!</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <a href="/books/new" class="btn btn-primary btn-lg">Add New Book</a>
        </div>
        <div class="col-md-6">
            <a href="/books" class="btn btn-success btn-lg">Explore All Books</a>
        </div>
    </div>

    <p class="mt-5">Created by: Fiza Saif</p>
    <p>Powered by: Node.js, Express.js, and Mongoose</p>
</div>